.header {
    h2 {
        color: crimson;
        font-weight: 400;
        padding: 5px;
    }
    p {
        color: chocolate;
        opacity: 0.5;
        padding: 5px;
    }
}

#thumb {
    border-radius: 50%;
}